   	/* 탭 모양 구성 */
        section.buttons { overflow: hidden;}
        section.buttons > label { 
            /* 수평 정렬 */
            display: block; float: left;

            /* 크기 및 글자 위치 지정*/
            width: 100px; height: 30px;
            line-height: 30px;
            text-align: center;

            /* 테두리 지정 */
            box-sizing: border-box;
            border: 1px solid #06f;

            /* 색상 지정*/
            background: white;
            color: black;                
        }
    #normalcodi{display: none;  }
    #locationcodi{display: none;  }
    #normalcodi:checked ~ section.buttons label:nth-of-type(1){
    	background: #06f;
        color: white;
    }
    #locationcodi:checked ~ section.buttons label:nth-of-type(2){
    	background: #06f;
        color: white;
    }
    
#guideforcodiselect{
	position: absolute;
	left: 250px;
	top: 30px;
}

#line{
	position: absolute;
	top: 42px;
}
#line hr{
	width: 550px;
}

#helpWrite{
	position: absolute;
	top: 10px;
	left:430px;
}
#helpWrite li{
	list-style: none;
}
#helpWrite li a{
	display: block;
    padding: 2px 10px;
    border: 1px solid red;
    border-radius: 10px 10px 0 0;
    color: red;
}
#helpWrite li a:hover{
	background: red;
    color: white;
}





